.careers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.btn-see-all {
    width: 174px;
height: 65px;
background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
border-radius: 8px;
margin-top: 40px;
border: 0px;
 font-weight: 500;
font-size: 20px;
color: white;
     
}