.job{
    border: 1px solid lightblue;
    text-align: left;
     padding-left: 20px;
     border-radius: 8px;
     margin-top: 32px;
}
.location-img{
    width: 24px;
height: 24px;
}
.company-img{
    width: 116.69px;
height: 40px;
margin-top: 40px;
margin-bottom: 37px;
}
.job-name{
    font-weight: 800;
font-size: 24px;
color: #474747;
margin-bottom: 8px;

}
.company-name{
    font-weight: 600;
font-size: 20px;
color: #757575;
margin-bottom: 16px;

}
.btn-job{
    background-color: white;
    margin-bottom: 16px;
    border-radius: 4px;
    color: blue;
}
.location{
    font-weight: 600;
font-size: 20px;
color: #757575;
}
.salary{
    font-weight: 600;
    font-size: 20px;
    color: #757575; 
}

.btn-details{
    width: 157px;
height: 49px;

background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
border-radius: 4px;
color: white;
 margin-bottom: 11px;
font-size: 20px;
border: 0px;
font-weight: 500x;
}