.container{
     margin-left: 150px;
     margin-bottom: 123px;
     align-items: center;
      
     
}
.pink{
    color: #9873FF ;
}
.headline{
    font-weight: 800;
font-size: 80px;
margin-bottom: 28px;
}
.description{
    font-weight: 500;
font-size: 18px;
}
.btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 800px;
    font-size: 20px;
    margin-top: 28px;
}

.writing{
    width: 570px;
}
.catagories-title{
    font-weight: 800;
font-size: 48px;
}
.categories{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
     
}
@media screen and (max-width: 575px) {
     .categories{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
     }
 }