.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    font-size: large;
    margin-left: 15px;
    text-decoration: none;
    color: #757575;
    font-weight: 500;
}

.btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
border-radius: 8px;
color: #FFFFFF;
font-weight: 800px;
font-size: 20px;
 
}
nav{
     margin-top: 71px;
    margin-bottom: 148px;
     
}
.title{
    color: #1A1919;
    font-weight: 800;
font-size: 32px;
margin-bottom: 28px;
}

@media screen and (max-width: 575px) {
     .flex{
        display: flex;
        flex-direction: column;
         justify-content: center;
     }}